body {
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  box-sizing: border-box;
}

.bg {
  width: 100%;
  min-height: 100vh;
  background: url("../images/bg-index.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  //justify-content: center;
}

@keyframes bounce {
  0% {
    top: 5px;
  }
  25% {
    top: -2px;
  }
  50% {
    top: -10px;
  }
  75% {
    top: -2px;
  }
  100% {
    top: 5px;
  }
}

.rabbit {
  position: relative;
  width: 280px;
  height: 525px;
}

.heart {
  position: absolute;
  width: 240px;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.generate {
  border: 5px solid #333;
  border-radius: 32px;
  padding: 0 12px;
  width: 300px;
  height: 60px;
  color: #fffffe;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-image: linear-gradient(to right, #fb6262, #ff7151, #ff833f, #ff972a, #f8ab10);
  -webkit-tap-highlight-color: transparent;
}